.form{
    background-color: antiquewhite;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    text-align: center;
    justify-content: center;
    margin-top: 10%;
    display: flex;
    width: 300px;
    
}

.formbody{
    background-color:black;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10px;
    margin:10%;
    padding: 50px;
}

.formh2{
    font-size: large;
    font-size: 20px;
    color: plum;
}

input[type="text"],
input[type="email"],
input[type="number"],.label
{
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border:none;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]
{
    background-color: #9458c8;
    color:#fff;
    padding:12px 20px;
    border: none;
    border-radius:3px;
    cursor:pointer;
}

.event
{
    width: 200px;
    margin-bottom: 15px;
    box-sizing: border-box;
    padding:10px;
    border:none;
    cursor: pointer;
    border-radius: 3px;
}

.head{
    padding: 100px;
    background-color:black;
    color:whitesmoke;
    font-size: 20px;
    display: flex;
    padding-bottom: 0px;
    margin: auto;
    display:inline;
    padding-right: 600px;
    padding-top: 100px;
}

.img{
    display: inline-flex;
    width: 100px;
    padding-left : 200px;
    padding-top: 50px;
    align-items: center;
    float: left;
}

#h11{
    transform: translate(-20px);
    position:inherit;   
    vertical-align: middle;   
}